fastapi==0.110.1
uvicorn==0.25.0
motor==3.3.1
pymongo==4.5.0
python-dotenv==1.2.1
pydantic==2.12.5
pydantic[email]
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
python-multipart==0.0.21
httpx==0.28.1
google-api-python-client==2.187.0
google-auth==2.47.0
youtube-transcript-api==1.2.3
openai==1.99.9
aiosmtplib==5.0.0
APScheduler==3.11.2
starlette==0.37.2
slowapi==0.1.9
boto3
stripe
